<p>This page allows you to transfer an ongoing questionnaire response to another user for them to continue.</p>

<p>You are transferring the questionnaire response for the <b><%= @questionnaire_response.dataset_name %></b> dataset</p>

<p>To whom would you like to transfer this response? Please select their email address from this list:</p>

<%= form_tag(questionnaire_response_transfer_update_path(@questionnaire_response), class: 'row row-cols-lg-auto g-3 align-items-center') do %>
  <%= content_tag(:div, class: 'col-12') do %>
    <%= select(:questionnaire_response, :user_email, @user_emails, {}, class: 'form-select form-select-lg') %>
  <% end %>
  <%= content_tag(:div, class: 'col-12') do %>
    <%= submit_tag('Transfer', class: 'btn btn-dark') %>
  <% end %>
  <%= content_tag(:div, class: 'col-12') do %>
    Note: Once transferred you will lose access unless it is transferred back!
  <% end %>
<% end %>
