<%= form_tag({}, method: :get, class: 'row g-3') do %>
  <div class="col-9">
    <label for="datasets" class="form-label">Datasets</label>
    <%= select_tag 'datasets', options_for_select(@datasets.map { |d| [d.name, d.id] }, @selected_datasets.map(&:id)), multiple: true, class: 'form-select' %>
  </div>
  <div class="col-3">
    <label for="lifecycles" class="form-label">Lifecycles</label>
    <%= select_tag 'lifecycles', options_for_select(@lifecycles.map { |l| [l.name, l.id] }, @selected_lifecycles.map(&:id)), multiple: true, class: 'form-select' %>
  </div>
  <div class="col-12">
    <%= button_tag 'Filter', type: :submit, name: nil, class: 'btn btn-primary' %>
  </div>
<% end %>


<table class="table">
  <thead>
    <tr>
      <% @selected_datasets.each do |d| %>
      <th style="width: <%= 100 / @selected_datasets.length %>%"><%= d.name %></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @selected_lifecycles.each do |l| %>
    <tr>
      <th colspan="<%= @selected_datasets.size %>">
        <%= l.name %>
      </th>
    </tr>
    <tr>
      <% @selected_datasets.each do |d| %>
      <td>
        <% d.rules.select { |r| r.policy_commentaries.where(data_lifecycle: l).count > 0 }.sort_by { |r| [r.policy.id, r.id] }.each do |r| %>
          <% commentary = r.policy_commentaries.where(data_lifecycle: l).map(&:interpretation).join("\n") %>
          <div class="bg-body-tertiary border rounded-3 p-3 mb-3">
            <p data-bs-toggle="tooltip" data-bs-placement="bottom" title="<%= commentary %>"><%= r.policy.name %>: <%= r.type %> to <%= r.action %></p>
            <pre><%= r.policy.narrow(rule: r).to_example_yaml %></pre>
          </div>
        <% end %>
      </td>
      <% end %>
    </tr>
    <% end %>
  </tbody>
</table>
