<h1><%= @questionnaire.title %></h1>

<p><%= @questionnaire.resource %></p>

<h1>Show Questionnaire</h1>

<%= form_with model: [:api, :v1, @questionnaire], method: :post do |form| %>
  <div>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :resource %><br>
    <%= form.text_area :resource %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>